.main_header{
	box-shadow: none;
}
.mainHeader{
	height: 45px;
	line-height: 45px;
	/* background: pink; */
}
.mainHeader>p:nth-child(1){
	float: left;
	color: #fff;
}
.mainHeader>p:nth-child(2){
	float: right;
	color: #fff;
}
/* 头部的图标颜色*/
.mainHeader>p>span{
	color: #fff;
}
/* 用一个大的框来装后边绿色的背景 */
.main_backg{
	background-color: #2abb10;
}
.main_text{
	background-color:#fff ;
}
/* 轮播*/
.lunBo{
	/*margin-top: 30px;*/
}
.swiper-container {
      width:100%;
      /*height: 250px;*/
      margin-left: auto;
      margin-right: 10px;
      /*padding-left: 10px;*/
      /*margin-top: 20px;*/
      
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      height: 200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      margin-top: 20px;
    }
    
    .swiper-slide>span{
    	display: block;
    }
	.caidanImg>p{
		width: 20%;
	}
.caidanLi{
	width: 10%;
}
li{
	list-style: none;
}
 /*头条*/
.header-tiao{
	margin-top: 20px;
}
 .notice {
 	width: 100%;
 	margin: 5px 0 0 0;
 	height: 44px;
 	overflow: hidden;
 	/*background:url(../img/eb1d8a588e4faac40da5c8d464cf10bd_bg.gif) no-repeat;
 	background-size:100% ;*/
 	background: white;
 }
 
 .noticTipTxt {
 	color: #ff7300;
 	height: 44px;
 	line-height: 22px;
 	overflow: hidden;
 	margin: 0 0 0 40px;
 }
 
 .noticTipTxt li {
 	height: 22px;
 	line-height: 22px;
 }
 
 .noticTipTxt a {
 	color: #0075E8;
 	font-size: 12px;
 	text-decoration: none;
 }
 
 .noticTipTxt a:hover {
 	color: #ff7300;
 	text-decoration: underline;
 }
.lunboImg,.text{
 	float: left;
 }
 .notice{
	position: relative;
 }
#jsfoot01>li{
	position: relative;
 	/*background: pink;*/
 }
 #jsfoot01>li>img{
	position: absolute;
	right: 50px;
 }

 .text>p{
 	line-height: 15px;
 }	
 #jsfoot{
 	position: absolute;
 	left: 15px;
 	top: 2px;
 }
/*横滚切换条*/
.hengGun{
	/*background-color: red;*/
	margin-top: 20px;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    color: #3cb950;
    border-bottom: 2px solid #3cb950;
    background: #fff;
}

/*第二个轮播图*/
.swiper-container2{
	/*height: 400px;*/
}

/*列表成列*/
.mui-media-body>h4{
	padding-top: 4px;
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis;
}
.mui-media-body{
	padding-left: 10px;
}
.mui-media-body>span{
	color: #fa4d0a;
}
.green{
	background: #edfbee;
	color: #6bcd7b;
	font-size: 12px;
	padding: 2px 3px;
	margin-right:5px;
}
.blue{
	background: #f3f8fa;
	color: #87b4ea;
	font-size: 12px;
	padding: 2px 3px;
	margin-right:5px;
}
.swiper-slide>img{
	padding-left: 10px;
	width: 100%;
}
.mui-table-view{
	margin-top: 20px;
}
/*头部的颜色*/
.mui-bar-transparent
{
    top: 0;

    background-color: rgba(42, 187, 16, 0);
    -webkit-box-shadow: none;
            box-shadow: none;
}


/*轮播图的调试*/
#fangLi>.swiper-slide .li>span{
	color: #fff; 
	background-color: #FF684B;
	width: 50px;
	display: block;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	border-radius: 10px;
	margin-bottom: 10px;
}
#fangLi>.swiper-slide .tieleLi>span{
font-size: 15px;
}
