.main_header{
	box-shadow: none;
}
.mainHeader{
	height: 45px;
	line-height: 45px;
	/* background: pink; */
}
.mainHeader>p:nth-child(1){
	float: left;
	color: #fff;
}
.mainHeader>p:nth-child(2){
	float: right;
	color: #fff;
}
/* 头部的图标颜色*/
.mainHeader>p>span{
	color: #fff;
}
/* 用一个大的框来装后边绿色的背景 */
.main_backg{
	background-color: forestgreen;
}

/* 轮播*/
.swiper-container {
      width: 80%;
      height: 250px;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      height: 200px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
	.caidanImg>p{
		width: 20%;
	}
.caidanLi{
	width: 10%;
}
li{
	list-style: none;
}
 /*头条*/
 .notice {
 	width: 100%;
 	margin: 5px 0 0 0;
 	height: 44px;
 	overflow: hidden;
 	/*background:url(../img/eb1d8a588e4faac40da5c8d464cf10bd_bg.gif) no-repeat;
 	background-size:100% ;*/
 	background: white;
 }
 
 .noticTipTxt {
 	color: #ff7300;
 	height: 44px;
 	line-height: 22px;
 	overflow: hidden;
 	margin: 0 0 0 40px;
 }
 
 .noticTipTxt li {
 	height: 22px;
 	line-height: 22px;
 }
 
 .noticTipTxt a {
 	color: #0075E8;
 	font-size: 12px;
 	text-decoration: none;
 }
 
 .noticTipTxt a:hover {
 	color: #ff7300;
 	text-decoration: underline;
 }
.lunboImg,.text{
 	float: left;
 }
 .notice{
	position: relative;
 }
#jsfoot01>li{
 	/*background: pink;*/
 }

 .text>p{
 	line-height: 15px;
 }	
 #jsfoot{
 	position: absolute;
 	left: 15px;
 	top: 2px;
 }
 .change{
 	 	word-break:break-all;
word-wrap:break-word;
 }
 .change>p{
 	width: 20%;
 	/*word-break:break-all;
	word-wrap:break-word;*/
 }
