.header_moreNewBox{
	height: 110px;
	background-color: #fff;
	box-shadow: none;
}
#seacher{
	border: none;
	width: 83%;
	padding-left: 30px;
	margin-top: 10px;
}
.header_moreNew{
	background: red;
	position: relative;
}
.header_moreNew>img{
	margin-top: 15px;
}
.header_moreNew>img,.header_moreNew>input{
	float: left;
	background: #f1f2f5;
}
.icon-fangdajing{
	position: absolute;
	top: 20px;
	left: 70px;
}
.mui-control-item{
	font-size: 20px;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active
{
    color: #3db952;
    border-bottom: 2px solid #007aff;
    background: none;
}
